a:link{  
    font-weight:400 ;  
    color:#2259D7 ;  
    text-decoration:none  ;  
    word-break:break-all;  
    word-wrap:break-word;  
    white-space:normal;  
}  
  
a:visited {  
    font-weight:400 ;  
    color:#2259D7 ;  
    text-decoration:none  ;  
    word-break:break-all;  
    word-wrap:break-word;  
    white-space:normal;  
}  
  
a:hover {  
    font-weight:400 ;  
    text-decoration:underline ;  
    color: #303030;  
    word-break:break-all;  
    word-wrap:break-word;  
    white-space:normal;  
}  
  
a:active {  
    font-weight:400 ;  
    text-decoration:none  ;  
    color:#2259D7 ;  
    word-break:break-all;  
    word-wrap:break-word;  
    white-space:normal;  
}  