			body
			{
			    margin:0; 
			    font-family: "ו";
			    text-align:center;
			    font-size:12px;
			    background:white;
			    padding:0;
			}			
input[type='button'] {
    height: 23px;
}
table{
	width:99%;
	border-collapse: collapse;
	margin: 3px;
	padding: 3px;
	}
td{
}
.bk{
	border:1px solid black;
	}
.bk td{
	border-right: 1px solid black;  
    border-bottom: 1px solid black;  
	}
.odd {
	    background: none repeat scroll 0 0 #E8EDFF;
	}
	table td a:link{  
    font-weight:400 ;  
    color:#2259D7 ;  
    text-decoration:none  ;  
    word-break:break-all;  
    word-wrap:break-word;  
    white-space:normal;  
}  
  
table td a:visited {  
    font-weight:400 ;  
    color:#2259D7 ;  
    text-decoration:none  ;  
    word-break:break-all;  
    word-wrap:break-word;  
    white-space:normal;  
}  
  
table td a:hover {  
    font-weight:400 ;  
    text-decoration:underline ;  
    color: #303030;  
    word-break:break-all;  
    word-wrap:break-word;  
    white-space:normal;  
}  
  
table td a:active {  
    font-weight:400 ;  
    text-decoration:none  ;  
    color:#2259D7 ;  
    word-break:break-all;  
    word-wrap:break-word;  
    white-space:normal;  
}
